h1 {
    text-align: center;
}

h2{
    text-align: left;
    padding-left: 30px;
}

button{
    text-align: center;
    padding: 15px 40px 9px;
    box-shadow: rgb(rgb(134, 74, 74), rgb(52, 179, 52), blue)
    


}

